/*@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../../assets/fonts/bebasneue_regular-webfont.eot');
    src: url('../../assets/fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../../assets/fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

body {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

nav a + a:before {
    color: #313131;
    content: " \\ ";
}



.nav-item:first-child {
    margin-left: 0px;
}

.dateline {
    margin-bottom: 1rem;
    margin-top: 0px;
}

.post {
    margin-bottom: 2rem;
}

.post-title {
    margin-bottom: 0px;
}

.page-title {
    margin-bottom: 0px;
}

.post-date {
    /*margin-bottom: 2em;*/
    display: inline;
}

.post-listed {
    margin-bottom: 4rem;
}

.social {
    margin-left: 0.75em;
    display: inline;
    text-transform: uppercase;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
}

.social a {
    text-decoration: none;
}


.underline {
    text-decoration: none;
}

a:hover > .underline {
    text-decoration: underline;
}

.social-page {
    margin-left: 0.75em;
    margin-top: 0px;
    display: inline;
    text-transform: uppercase;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
}

.social-page a {
    text-decoration: none;
}

.social-below-post {
    /*display: inline;*/
    text-align: right;
    text-transform: uppercase;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    margin-top: 1rem;
}

.social-below-post a {
    text-decoration: none;
}

.social-footer {
    margin-left: 0.75em;
    display: block;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.social-footer a {
    text-decoration: none;
}


.comment {
    color: #546673;
}

.comment:before {
    color: #313131;
    content: " \\ ";
}

.comment:before:hover {
    text-decoration: none;
}

.twitter {
    color: #55acee;
}

.twitter:before {
    color: #313131;
    content:" \\ ";
}

.facebook {
    color: #3c5a99;
}


.inline-img {
    display: inline;
    float: left;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.fluid-width-video-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.caption {
    color: #7a7a7a;
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    margin-top: -1.5rem;
    font-style: italic;
    padding-top: 1rem;

}

.fluid-width-video-wrapper + .caption {
    padding-top: 1.25rem;
}

.sidebar {
    /*bacgkround-color:;*/
}

.sidebar-toggle {
    border-radius: 0px;
}

.home-anchor {
    display: block;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size:0.6rem;
    /*color: #555;*/
}

nav {
    margin-bottom: 1.5rem;
    text-align: left;
}

.nav-item {
    /*margin-left: 0.75em;*/
    display: inline;
    text-transform: uppercase;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    color: #29a0e2;
}


@media (max-width: 56em) {
    .nav-item {
        font-size: 1.5rem;
    }
}
.nav-item:active {
    color: #303030;
}


.masthead {
    margin-bottom: 1rem;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    /*background-color: #29a0e2;*/
    border-bottom-style: none;
    text-align: center;
}

.masthead-container {
    text-align: left;
}

a {
    color: #29a0e2;
}

@media (min-width: 56em) {
    .masthead-container {
      text-align: left;
    }
}

#masthead-image {
    position: relative;
    display: inline-block;
}

#twitter-masthead {
    position: relative;
    display: inline-block;
}

#facebook-masthead {
    position: relative;
    display: inline-block;
}

@media (min-width: 56em) {
    .sidebar-masthead {
        /*margin-top: 0.5rem;*/
        padding-bottom: 1rem;
    }

}



#emblem {
    height: 80px;
    width: 80px;
    /*background-color: #3f4a4e;*/
    /*background-color: #777;*/
    background-color: #eaeaea;
    background-image: url('../../img/Camera32x32black.png'); 
    background-repeat: no-repeat;
    background-position: 50% 55%;

    padding: 32px;
    border-radius: 999px;

    margin: 0 auto;

    border-style: dotted;
    border-width: 3px;
    border-color: #333;

    /*margin-bottom: 2rem;*/

    -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.1);
}


@media (min-width: 56em) {

    #emblem {
        margin-top: 1rem;
        height: 64px;
        width: 64px;
        padding: 64px;
        margin-bottom: 0px;
        background-image: url('../../img/Camera64x64black.png'); 
        background-position: 50% 60%;
    }

}
.sidebar-item-emblem {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}

#sidebar-title {
    font-size: 1.5rem;
    line-height: 0.5rem;
}

#banner {
    border-radius: 0px;
    margin-bottom: 0.5rem;
}

#banner-tag  {
    margin-bottom: 0px;
}

#masthead-image {
    /*height: 4rem;*/
    margin: 0px;
    border-radius: 0px;
}

#facebook-masthead {
    height: 36px;
    margin: 0px;
    border-radius: 0px;
}

#twitter-masthead {
    height: 36px;
    margin: 0px;
    border-radius: 0px;
}

.page-anchor {
    color: #313131;
}

.page-anchor:hover {
    text-decoration: none;
}

dl {
    background-color: #f4f4f4;
    padding: 2rem;
}

.film-info {
    margin: 0 auto;
    margin-top: 1rem;
}

@media (min-width: 56em) {
    .film-info {
        width: 50%;
        margin: 0 0;
        margin-top: 1rem;
    }
}

.article-footer {
    color: #9a9a9a;
}

.article-footer a {
    color: #555;
}

.sidebar-nav  h2 {
    padding-left: 1.5rem;
  display: block;
  /*padding-top: .5rem;*/
  color: rgba(255,255,255,.6);

    font-size: .875rem; /* 15px */

}

#sidebar-social {
    padding-bottom: 0px;
    /*text-align: center;*/
}

#sidebar-copyright-notice {
    padding-top: 1rem;
}

@media (max-width: 56em) {
    .sidebar-nav h2 {
      padding-left: 1.5rem;
    }
}

@media (max-width: 48em) {
    .sidebar-nav h2 {
      padding-left: 1rem;
    }
}
