.inline-img {
    display: inline;
    float: left;
}

.masthead-container {
    text-align: center;
}

a {
    color: #29a0e2;
}

@media (min-width: 56em) {
    .masthead-container {
      text-align: left;
    }
}

#masthead-image {
    position: relative;
    display: inline-block;
}

@media (min-width: 56em) {
    .sidebar-masthead {
        /*margin-top: 1rem;*/
    }

}


#emblem {
    height: 80px;
    width: 80px;
    /*background-color: #3f4a4e;*/
    /*background-color: #777;*/
    background-color: #eaeaea;
    background-image: url('../../img/Camera32x32black.png'); 
    background-repeat: no-repeat;
    background-position: 50% 55%;

    padding: 32px;
    border-radius: 999px;

    margin: 0 auto;

    border-style: dotted;
    border-width: 3px;
    border-color: #333;

    /*margin-bottom: 2rem;*/

    -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.1);
}


@media (min-width: 56em) {

    #emblem {
        margin-top: 1rem;
        height: 64px;
        width: 64px;
        padding: 64px;
        margin-bottom: 0px;
        background-image: url('../../img/Camera64x64black.png'); 
        background-position: 50% 60%;
    }

}
.sidebar-item-emblem {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
}

#sidebar-title {
    font-size: 2rem;
}

#banner {
    border-radius: 0px;
    margin-bottom: 0.5rem;
/*    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #f0f1f1;
    border-radius: 0px;*/
}

.banner-tag  {
    color: #f1f1f1;
}

#masthead-image {
    height: 36px;
    margin: 0px;
    border-radius: 0px;
}

.page-anchor {
    color: #313131;
}

.page-anchor:hover {
    text-decoration: none;
}

dl {
    background-color: #f4f4f4;
    padding: 2rem;
}

.film-info {
    margin: 0 auto;
    margin-top: 1rem;
}

@media (min-width: 56em) {
    .film-info {
        width: 50%;
        margin: 0 0;
        margin-top: 1rem;
    }
}


.sidebar-nav  h2 {
    padding-left: 1.5rem;
  display: block;
  padding-top: .5rem;
  color: rgba(255,255,255,.6);

    font-size: .875rem; /* 15px */

}

@media (max-width: 56em) {
    .sidebar-nav h2 {
      padding-left: 1.5rem;
    }
}

@media (max-width: 48em) {
    .sidebar-nav h2 {
      padding-left: 1rem;
    }
}
