<div class="post post-listed">
    <section name="advertisment">
        <div class="advert">
            <p class="ad-head">Advertisement</p>
            <a href="https://itunes.apple.com/us/app/candlelight/id655899740?ls=1&mt=12"><img src="{{ site.baseurl }}/assets/ads/candlelight.png" alt="Advert: Candlelight for OSX"></a>
            <div class="ad-body">
                <a href="https://itunes.apple.com/us/app/candlelight/id655899740?ls=1&mt=12"><h1>Candlelight for OS X</h1></a>
                <p>Do you spend all night at your computer; working, writing, reading? Do you find it hard to sleep afterwards?</p>
                <p>By reducing the amount of blue light emitted by your monitor, Candlelight helps maintain your body's natural nocturnal rhythm.</p>
                <p>Find out more on the <a href="https://itunes.apple.com/us/app/candlelight/id655899740?ls=1&mt=12">Mac App store.</a></p>
            </div>
        </div>
    </section>
</div>