<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="wrap">
      <div class="masthead">
        <div class="container masthead-container">
            <a href="{{ site.baseurl }}/" title="Home">
            <img src="{{ site.baseurl }}/img/clip.svg" id="masthead-image" alt="Home">
            </a>
        {% include navbar.html %}
        </div>
      </div>
      <hr class="nav-hr">
      <div class="container content">
        {{ content }}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/jquery.fitvids.js"></script>

    <script>

    $(document).ready(function(){
      $(".content").fitVids();
    });
    </script>
  </body>
</html>
