---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="dateline">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <div class="social">
    <a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"
    onClick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, height=600,width=600'); return false;"><span class="underline">SHARE</span></a><a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.description }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"
    onClick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, height=400,width=400'); return false;"><span class="underline">TWEET</span></a><a class="comment" href="#disqus_thread"><span class="underline">Comment</span></a>
    </div>
  </div>
  {{ content }}
<div class="social-footer">
  <a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"
    onClick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, height=600,width=600'); return false;"><span class="underline">SHARE</span></a><a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.description }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"
    onClick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes ,height=400,width=400'); return false;"><span class="underline">TWEET</span></a>
</div>
</div>

<div class="related">
<div id="disqus_thread"></div>
<script>


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//super8blog.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</ul>
</div>


